body {
  font-family: "Lato", Helvetica Neue, sans-serif;
  background: #ccc;
  padding: 0px;
  margin: 0px;
}
#page-wrap {
  width: 1000px;
  margin: 0 auto;
  background: #fff;
  overflow: hidden;
}
#content {
 padding: 20px;
 margin-top: 60px;
 clear: both;
}

#logo {
  line-height: 130%;
  font-size: 30px;
}

header {
  padding: 20px;
  margin: 0px;
  clear: both;
}
header h1 {
  float: left;
  width: 290px;
  margin: 0px;
}
header h1 img {
  width: 290px;
  height: 100px;
}
header form {
  float: right;
  width: 430px;
  margin-top: 40px;
}

#like-us {
  line-height: 130%;
  font-size: 18px;
  width: 300px;
  height: 23px;
  float: right;
  text-align: right;
}

#like-us .facebook {
 color: #0000ff;
}
nav ul#menu {
  margin: 0px;
  font-size:14px;
  text-align:center;
  height: 40px;
  float: right;
  list-style: none;
  padding: 0px;
}

ul#menu li {
  float: left;
  width: 150px;
}

ul#menu li a {
  display: block;
  float: left;
  width: 100%;
  line-height: 40px;
  height: 40px;
  text-decoration: none;
  color: #ffffff;
  background: #999;
  border: 1px solid #B22222;
}

nav ul#menu li.active a, nav ul#menu li a:hover {
  background: #B22222;
}

aside {
  margin-top: 60px;
  height: 380px;
  text-align: center;
  float: right;
  width: 230px;
  padding: 10px 10px 0px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #ccc;
}

section {
  width: 350px;
  padding: 10px 0px;
  float: left;
  margin: 0px;
  margin-top: 40px;
  height: 180px;
}
section h3 {
  margin-top: 0px;
}

section div {
  float: left;
  width: 180px;
}
section img {
  margin-right: 10px;
  float: left;
}
footer, footer img {
  margin: 0px;
  padding: 0px;
  height: 100px;
}

.clear {
  clear: both;
}
.poll {
  margin-top: 40px;
}

input[type='submit'] {
  float: right;
  background: #AF2B26;
  width: 50px;
  height: 20px;
  border: 0px;
  color: #fff;
}

input[type='text'], input[type='password'] {
  border: 1px solid #B22222;
}
#content ul {
  float: left;
  width: 100px;
  margin-right: 20px;
}
#content ul li {
  list-style: none;
  padding: 10px 0px;
}

.big {
  margin-left: 70px;
}
.top-places {
  height: 248px;
  border-bottom: 5px solid #AF2B26;
  padding-bottom: 40px;
}
.previews {
  margin-top: 10px;
  padding-bottom: 40px;
  float: left;
  width:  700px;
}
