body {
  font-family: "Lato", Helvetica Neue, sans-serif;
  background: #999999;
  padding: 0px;
  margin: 0px;
}
#page-wrap {
  overflow: hidden;
  width: 1000px;
  margin: 0 auto;
  background: #fff;
}
#content {
 padding: 20px;
 clear: both;
}

#logo {
  line-height: 130%;
  font-size: 30px;
}

header {
  padding: 20px 0px;
  margin: 0px;
}
header h1 {
  float: left;
  margin: 0px 0px 10px 20px;
}
header form {
  float: right;
  width: 200px;
  text-align: right;
  margin-right: 20px;
  margin-bottom: 10px;
}
nav {
  border-top: 5px solid #F21B07;
}
nav ul#menu {
  font-size: 14px;
  text-align: center;
  height: 45px;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ul#menu li {
  float: left;
  width: 250px;
}

ul#menu li a {
  display: block;
  float: left;
  width: 100%;
  line-height: 45px;
  height: 45px;
  text-decoration: none;
  color: #ffffff;
  background: #ccc;
  border: 1px solid #999999;
}

nav ul#menu li.active a, nav ul#menu li a:hover {
  background: #999999;
}

aside {
  text-align: center;
  float: left;
  width: 230px;
}

aside ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

aside h2 {
  margin-top: 20px;
}

aside ul li {
  padding: 10px;
  background: #999;
}
aside ul li:nth-child(2n) {
  background: #ccc;
}

section {
  width: 700px;
  float: right;
  padding: 0px 0px 20px;
}
section h2 {
  margin-left: 24px;
}
section div.photo {
  border: 1px solid #444;
  float: left;
  padding: 10px;
  width: 285px;
  margin: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
section div.comment h4 {
  background: #ccc;
  margin-bottom: 0px;
}
section div.comment p {
  background: #ddd;
  margin: 0px;
  padding: 10px 0px;
}
section div.photo div {
  width: 280px;
}

.latest {
  margin-bottom: 20px;
  margin-top: 30px;
}
.latest img {
  height: 150px;
  width: 150px;
  margin-top: 20px;
  border: 0px;
}

.clear {
  clear: both;
}

input[type='submit'] {
  background: #999999;
  width: 50px;
  height: 20px;
  border: 0px;
  color: #fff;
  float: right;
}

input[type='text'], input[type='password'] {
  border: 1px solid #999999;
}
footer, footer img {
  margin: 0px;
  padding: 0px;
  height: 100px;
}

.text {
  width: 700px;
  float: left;
}

.poll {
  float: right;
  width: 250px;
  background: #ccc;
  margin-top: 20px;
}

.poll img {
  margin-left: 20px;
  margin-bottom: 20px;
}

.poll ul {
  list-style: none;
  padding-left: 20px;
}
