body {
  font-family: "Lato", Helvetica Neue, sans-serif;
  background: #999999;
  padding: 0px;
  margin: 0px;
}
#page-wrap {
  width: 960px;
  margin: 0 auto;
  background: #fff;
}
#content {
 padding: 20px;
 clear: both;
}

#logo {
  line-height: 130%;
  font-size: 30px;
}

header {
  padding: 20px 0px;
  margin: 0px;
}
header h1 {
  float: left;
  margin: 0px 0px 10px 20px;
}
header form {
  float: right;
  width: 418px;
  margin-right: 20px;
}

nav ul#menu {
  font-size: 14px;
  text-align: center;
  height: 45px;
  margin: 0px;
  padding: 0px;
  margin-top: 30px;
  list-style: none;
}

ul#menu li {
  float: left;
  width: 240px;
}

ul#menu li a {
  display: block;
  float: left;
  width: 100%;
  line-height: 45px;
  height: 45px;
  text-decoration: none;
  color: #ffffff;
  background: #336699;
  border: 1px solid #999999;
}

nav ul#menu li.active a, nav ul#menu li a:hover {
  background: #999999;
}

aside {
  margin-top: 70px;
  text-align: center;
  float: left;
  width: 300px;
  background: #CCCCCC;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #336699;
}

aside div {
  padding: 10px;
}
aside div:first-child {
  border-bottom: 1px solid #336699;
}

aside div.introduction {
  padding-top: 62px;
  padding-bottom: 42px;
}

article {
  width: 530px;
  float: right;
}
article h2 {
  margin-left: 24px;
}
article img {
  height: 150px;
  width: 150px;
  float: left;
  margin-left: 24px;
  margin-bottom: 24px;
}

.latest {
  margin-bottom: 20px;
  margin-top: 30px;
}
.latest img {
  height: 150px;
  width: 150px;
  margin-top: 20px;
  border: 0px;
}

.clear {
  clear: both;
}

input[type='submit'] {
  background: #999999;
  width: 50px;
  height: 20px;
  border: 0px;
  color: #fff;
}

input[type='text'], input[type='password'] {
  border: 1px solid #999999;
}
