/* General */

* {
  margin: 0;
  padding: 0;
  color: white;
}

body {
  font-family: 'Lato', Helvetica Neue, sans-serif;
  background: #808080;
  padding: 0;
  margin: 0;

}

#page-wrap {
  width: 960px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background: #303030;
}

.clear {
  clear: both;
}

/* Header */

.header {
  padding: 20px;
  margin: 0;
  clear: both;
}

.header h1 {
  float: left;
  width: 290px;
  margin: 0;
}

.header h1 img {
  width: 800px;
  float: left;
}

/* Login form */

.header form {
  float: right;
  width: 180px;
  text-align: right;
}

input[type='submit'] {
  float: right;
  background: #1111ff;
  width: 60px;
  height: 22px;
  border: 0;
  color: #ffffff;
}

input[type='text'], input[type='password'] {
  border: 1px solid #1111ff;
  font-size: 16px;
  width: 125px;
  margin-bottom: 15px;
}

input[type='password'] {
  margin-bottom: 3px;
}

label {
  margin-right: 2px;
}

.header input + label {
  margin-left: 6px;
}

/* Main menu */

.nav ul#menu {
  font-size:14px;
  text-align:center;
  height: 40px;
  margin-top: 30px;
  list-style: none;
  padding: 0;
}

ul#menu li {
  float: left;
  width: 120px;
}

ul#menu li a {
  display: block;
  float: left;
  width: 100%;
  line-height: 40px;
  height: 40px;
  text-decoration: none;
  color: #ffffff;
  background: #5555ff;
  border: 1px dotted #3333ff;
}

.nav ul#menu li.active a, .nav ul#menu li a:hover {
  background: #7777ff;
}

/* Page content */

#content {
 padding: 20px;
 clear: both;
}

/* Main */

.section {
  width: 540px;
  padding: 10px;
  float: left;
}

.section h2 {
  margin-left: 24px;
}

.section img {
  width: 220px;
  margin-right: 10px;
  float: left;
}

.section p {
  margin-bottom: 10px;
  line-height: 20px;
}

/* Sidebar */

.aside {
  margin-top: 10px;
  text-align: center;
  float: right;
  width: 300px;
}

.aside div {
  padding: 10px;
}

.aside img {
  width: 300px;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.aside ul {
  list-style: none;
  text-align: left;
  margin-left: 60px;
}

.aside ul li {
  margin-top: 10px;
}

.poll {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Footer */

.footer, .footer img {
  margin: 0;
  padding: 0;
  height: 100px;
}

.footer {
  display: none;
}

.poll > li:hover {
  color: blue;
}
